body {
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#display {
  width: 100%;
  margin-bottom: 10px;
  height: 100px;
  border: none;
  background-color: hsl(0, 0%, 30%);
  color: white;
  font-size: 3rem;
  font-weight: bold;
}
#container {
    display: flex;
    gap: 10px;
    max-width: 420px;
    background-color: hsl(0, 0%, 15%);
    padding: 25px;
    border-radius: 15px;
    flex-wrap: wrap;
    overflow: hidden;
}
button {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  border: none;
  margin-bottom: 10px;
  background-color: hsl(0, 0%, 40%);
  color: white;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}
#equals{
    /* background-color: red; */
    width: 100%;
}
#equalsBTN{
    background-color: orange;
    width: 100%;
}
.opBTN{
    background-color: orange;
}

.num:hover, .clear:hover {
    background-color: hsl(0, 0%, 50%);
}
.opBTN:hover , #equalsBTN:hover {
    background-color: hsl(35, 100%, 65%)
}
